@media screen and (max-width: 785px) {
  .mobile-menu {
    visibility: none;
  }

  .menu-icon {
    visibility: visible;
    margin-left: 5%;
  }

  .featured {
    padding: 20px 0;
  }

  .logo {
    display: none;
  }

  .featured .speakers {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .featured .speakers .guide {
    margin: 10px 10px;
  }

  .featured .speakers .guide .image::after {
    top: -5px;
    left: -5px;
    opacity: 0.3;
  }

  .featured .speakers .guide .image::before {
    top: -5px;
    left: -5px;
    opacity: 0.3;
  }

  .featured .speakers .guide span {
    width: 70%;
    max-width: 300px;
  }

  .featured button {
    display: block;
    width: 90%;
    padding: 10px 0;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.246);
    margin-top: 40px;
  }

  .featured button .rotateArrow {
    transform: rotateZ(180deg);
  }

  .social {
    display: none;
  }

  footer {
    display: none;
  }

  .intro-paragraph {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

@media screen and (min-width: 785px) {
  .mobile-menu {
    visibility: visible;
    margin-left: 10%;
  }

  .logo {
    width: 70%;
    margin-left: 5%;
  }

  .logo img {
    height: 50px;
  }

  .menu-icon {
    display: none;
  }

  a {
    color: #ec5242;;
  }

  .navbar {
    background-color: white ;
    opacity: 90%;
    position: fixed;
    left: 5%;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-items {
    margin-right: 8%;
    color: black;
  }

  .intro-paragraph {
    width: 50%;
    margin-top: 1%;
  }

  .title-div h1 {
    font-size: 60px;
    width: 70%;
  }

  .social {
    width: 100%;
  }

  .social-list {
    position: fixed;
    background-color: rgb(230, 16, 16);
    width: 100%;
    display: flex;
    padding-left: 65.6%;
  }

  .navbar {
    margin-top: 50px;
  }

  .social-list li {
    margin-left: 2%;
  }
  
  .footer-top {
    background-color: rgb(62, 57, 57);
    width: 100%;
    margin: auto;
    text-align: center;
    height: 200px;
  }
  
  .footer-top h2 {
    color: white;
  }

  .partners ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .partners ul img, .partners img {
    width: 300px;
    margin: 5%;
    height: 100px;
  }
  
  .footer-bottom {
    margin: auto;
    height: 100px;
    display: flex;
    width: 95%;
    justify-content: space-between;
  }
  
  .bottom-left {
    margin-top: 1%;
    padding-left: 3%;
    font-weight: 600;
    width: 50%;
    align-self: center;
    font-size: 15px;
  }
  
  .bottom-right {
    width: 50%;
    font-size: 15px;
    align-self: center;
  }
  
  .partners {
    display: flex;
  }
}

