@media screen and (max-width: 785px) {
  .about-mobile-menu {
    visibility: none;
  }

  .about-menu-icon {
    visibility: visible;
  }

  .social {
    display: none;
  }

  .logo {
    display: none;
  }
}

@media screen and (min-width: 785px) {
  .about-mobile-menu {
    visibility: visible;
  }

  .about-menu-icon {
    display: none;
  }

  .footer-top {
    display: none;
  }

  .footer-bottom {
    background-color: rgb(33, 30, 30);
    width: 100%;
    color: aliceblue;
  }

  .past-event-images {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }

  .image1, .image2 {
    width: 45%;
  }
  
  .logo-image {
    width: 30%;
    height: 250px;
  }

  .bottom-left {
    font-size: 25px;
    text-align: center;
  }

  .bottom-right p {
    width: 60%;
  }

  .social {
    width: 100%;
  }

  .social-list {
    position: fixed;
    background-color: rgb(230, 16, 16);
    width: 100%;
    display: flex;
    padding-left: 63%;
  }

  .social-list li {
    margin-left: 1%;
    margin-right: 3%
  }

  .logo {
    width: 70%;
    margin-left: 5%;
  }

  .logo img {
    height: 50px;
  }

  a {
    color: #ec5242;;
  }

  .about-navbar {
    z-index: 1;
    background-color: whitesmoke ;
    position: fixed;
    left: 5%;
    height: 50px;
    width: 110%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: -7.5%;
  }

  .about-nav-items {
    margin-right: 8%;
    color: black;
  }
}
